APPWRITE_ENDPOINT=https://<REGION>.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=pixelone_main
APPWRITE_BUCKET_ID=restaurant-assets
APPWRITE_DEFAULT_RESTAURANT_SLUG=demo-restaurant
