VITE_APPWRITE_ENDPOINT=https://<REGION>.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=
VITE_APPWRITE_BUCKET_ID=
VITE_APPWRITE_CREATE_ORDER_FUNCTION_ID=
VITE_APPWRITE_CREATE_RESERVATION_FUNCTION_ID=
VITE_APPWRITE_DEFAULT_RESTAURANT_SLUG=demo-restaurant
VITE_ENABLE_ANALYTICS=false
